.jsTides {
	max-width:800px;
	margin: auto;
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:14px;
}

.jsTides .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.jsTides .row.next-tide {
	font-weight: bold;
}

.jsTides .column.next-day, .jsTides .column.previous-day {
	max-width: 10px;
	justify-content: center;
	display: none;
}

.jsTides .column {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;	justify-content: center;
}

.jsTides .header {
	margin: 4px;
	margin-top:20px;
}
